@model MVCTraining.Models.ManageUsersViewModel
@{
    ViewBag.Title = "Edit user";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Roles</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    @Html.LabelFor(m => m.Roles[i], new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Roles[i], new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.Claims.Count; i++)
                {
                    @Html.HiddenFor(m => m.Claims[i].Id)
                    @Html.HiddenFor(m => m.Claims[i].UserId)
                    @Html.LabelFor(m => m.Claims[i].ClaimType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Claims[i].ClaimType, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.Claims[i].ClaimValue, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Claims[i].ClaimValue, new { @class = "form-control" })
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "ManageUsers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
